
/*common font*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/*header design*/
.header_color {
    background: rgba(229, 84, 115, 0.10);
}

#header_image {
    background-image: url('Images/pngwing 10.png');
    background-repeat: no-repeat;
    background-position: 88%;
}

/*header section heading style*/
.h {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    padding: 197px 972px 0px 240px;
    width: 800px;
    height: 288px;
    margin-bottom: 24px;
    margin-top: 0;
}

/*header paragraph style*/
.paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px;
    height: 90px;
    padding-left: 240px;
    padding-top: 80px;
    margin-bottom: 32px;
}

/*primary button styling*/
.primary_btn {
    color: #FFFFFF;
    background-color: #E55473;
    height: 64px;
    width: 177px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    font-weight: 700px;
    margin-left: 240px;
    margin-bottom: 147px;
}

/*main section heading titles*/
#head-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

/*featured section style*/
.featured {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*feature title style*/
.featured-head {
    margin-bottom: 15px;
    margin-top: 178px;

}

/*featured paragraph style*/
.featured-para {
    height: 60px;
    width: 650px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

/*featured flower style*/
.flower-display {
    display: flex;
    align-items: center;
    justify-content: center;

}

/*featured flower style*/
.feat-flower-1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.feat-flower-2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    margin-left: 0px;
    margin-right: 0px
}

.feat-flower-3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

/*figcaption style*/
.fig_style {
    text-align: center;
    text-decoration: underline;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
}

/*deals styling*/
.deal {
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}

.deal-content {
    display: flex;
    justify-content: center;
    gap: 180px;

}

.deal-head {
    text-align: center;
}

.deal-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 650px;
    margin-top: 24px;
    margin-bottom: 32px;

}

/*Insta styling*/
.insta-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insta-head {
    margin-bottom: 24px;
}

.insta-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 650px;
    margin-bottom: 48px;
}

.image-style {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 240px;
    margin-right: 240px;
    margin-bottom: 128px;
    gap: 18px;
}

/*subscription styling*/
.sub-content {
    text-align: center;
    height: 449px;
    weidth: 1440px;
    background-image: url('Images/Rectangle 9.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 128px;

}

.sub-head {
    margin-bottom: 16px;

}

.sub-para {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 48px;
}

.sub_btn{
    margin: 10px;
}
.sub-email {
    border-radius: 8px;
    background: #FFFFFF;
    width: 700px;
    height: 64px;
    border: none;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400px;
    padding: 0px 16px;
}

/*footer stylin*/

footer {
    /* height: 449px;
   
    text-align:center;
    display:flex;
    flex-direction: column;
    justify-content: center; */
    background-color: #111010;
    color:white;
    text-align: center;
    padding: 20px ;

}

.foot-para {
    color: rgba(255, 255, 255, 0.90);
    
    font-weight: 400;
    /* margin: auto 680px; */
    font-size: 18px;
}

.foot-small {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}